<section class="p-5 mt-5 md:max-w-3xl mx-auto ">
  <div>
    <p class="md:text-lg text-base font-medium">All Results (6)</p>
  </div>
  <div class="flex md:gap-8 gap-3.5 justify-center flex-wrap mt-5">
    <div *ngFor="let inscription of inscriptionData" (click)="goToInscriptionDetails(inscription.uid)" class="card md:w-52 md:h-64 w-40 h-48 bg-center bg-cover bg-no-repeat rounded-lg relative drop-shadow-xl hover:drop-shadow-sm ease-in-out duration-200" style="background-image: url('{{baseUrl}}{{inscription.inscription_image}}');">
      <!-- <div class="w-full h-full top-0 bottom-0 absolute bg-gradient-to-t from-black/40 to-black/20 rounded-lg"></div> -->
      <div class="absolute rounded-b-lg w-full py-2 px-3 bottom-0 left-0 right-0 bg-black/30 backdrop-blur">
        <p class="md:text-base text-sm">{{inscription.name}}</p>
      </div>
    </div>
  </div>
</section>
