<section class="p-5 md:max-w-3xl mx-auto">
  <div class="md:mt-5">
    <h5 class="md:text-4xl font-medium text-center">About Us</h5>
  </div>
  <div class="mt-5">
    <p class="md:text-base text-sm">What is Vigrah?<br>
    Vigrah (विग्रह) is Sanskrit for 'decryption'<br>
    Our motto is "Preserve, Protect, Promote". Project Vigrah aims to leverage state-of-art technologies to preserve,
    protect and promote the epigraphical heritage of our country.<br><br>
    
    Why Vigrah?<br>
    We often find that people are clueless about our great epigraphical heritage. As per our understanding, this happens due
    to three reasons - One, the inaccessibility and bad condition of some inscriptions. Two, the lack of knowledge of the
    script. Three, the lack of literary resources for a common man to get a comprehensive understanding of the inscriptions.
    To address these issues, we use technological solutions.<br><br>
    
    Our tools:<br>
    Currently, we support three tools, Abhiñāna- OCR for Ashokan Brahmi script, Akṣarāntara - transliteration to a modern
    script and Kośa - a repository of inscriptional information.<br><br>
    
    Our long-term aims include creating an end-to-end technology solution for Indian epigraphy.</p>
  </div>
</section>