<section class="p-5 max-w-2xl mx-auto">
  <div class="flex justify-center">
    <img src="{{baseUrl}}/media/{{data.image}}" class="rounded-lg" alt="">
  </div>
  <div class="py-2 px-4 bg-gray-400/50 rounded-lg md:w-auto w-full mt-5">
    <h6 class="underline text-lg mb-2">Brahmi</h6>
    <p class="md:text-base text-sm">{{data.img_pred}}</p>
    <p class="md:text-base text-sm" *ngIf="!data.img_pred">SOME ERROR OCCURED!</p>
  </div>
  <!-- <div class="py-2 px-4 bg-gray-400/50 rounded-lg md:w-auto w-full mt-5">
    <h6 class="underline text-lg mb-2">Devanagari</h6>
    <p class="md:text-base text-sm">लॊरॆम िपसुम दॊलॊर, सित aमॆत cॊनसॆcतॆतुर aदिपिसिcिनग ॆलित। ॆa िुसतॊ क़ुिबुसदम मगनि सॆक़ुि दॆलॆनिति cुपिदिततॆ फ़ुगिaत वॊलुपततिबुस दिcत। पलcॆaत, मॊदि।</p>
  </div> -->
</section>