<section class="p-5 max-w-3xl mx-auto">
  <div class="text-center">
    <h5>{{inscriptionDetail.name}}</h5>
    <p>Time period</p>
  </div>
  <div>
    <img src="{{baseURL}}/media/{{inscriptionDetail.inscription_image}}" alt="" class="mx-auto my-5 rounded-lg">
  </div>
  <div class="my-5">
    <table class="table-auto w-full">
      <tbody>
        <tr class="border-y">
          <td>Ruler/Person</td>
          <td>Some person</td>
        </tr>
        <tr class="border-b">
          <td>Language</td>
          <td>some Language</td>
        </tr>
        <tr class="border-b">
          <td>Script</td>
          <td>some script</td>
        </tr>
      </tbody>
    </table>

    
  </div>
  
</section>