/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Subrayada:wght@400;700&display=swap');

// adding tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #FFFFFF;
  --secondary-color: #FFD400;
  --primary-background-color: #2F2B2B;
  --primary-font: 'Montserrat Alternates', sans-serif;
  --secondary-font: 'Montserrat Subrayada', sans-serif;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font), sans-serif;
}
p, button {
  font-family: var(--primary-font), sans-serif;
}


h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.3s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
  color: inherit;
}