.div1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../../assets/img/inscription-pattern2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.div2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../../assets/img/sculpture2.png');
  background-color: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .div1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../../assets/img/inscription-pattern.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .div2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('../../assets/img/sculptures.png');
    background-color: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}