<section>
  <div>
    <div class="div1 px-6 py-10 md:px-14 md:py-20">
      <div class="max-w-3xl mx-auto">
        <h3 class="leading-tight max-w-sm md:text-6xl">Preserve. Protect. Promote.</h3>
        <p class="font-medium mt-4 md:mt-8 text-base md:text-lg max-w-sm">Project Vigrah aims to leverage state-of-art technologies to preserve, protect and promote the epigraphical heritage of
        our country.</p>
      </div>
    </div>
    <div class="div2 px-6 py-10 md:px-14 md:py-20 text-center">
      <div class="max-w-3xl mx-auto">
        <h4 class="md:text-5xl">Our Tools</h4>
        <p class="md:mt-8 text-base"><a routerLink="/abhinana" class="font-semibold">Abhiñāna</a> - Extract text from an input image</p>
        <p class="text-base"><a routerLink="/transliterate" class="font-semibold">Akṣarāntara</a> - Transliterate it to a script of your choice</p>
        <p class="text-base"><a routerLink="/inscriptions" class="font-semibold">Kośa</a> - Database of inscriptions</p>
        <p class="mt-8 font-semibold underline text-xl">LATEST UPDATES</p>
        <p class="text-base mt-2">
          Vigrah now supports OCR for Aśokan Brahmi script and
          transliteration to 10 modern scripts
        </p>
      </div>
    </div>
  </div>
</section>